RewriteEngine On
RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

ErrorDocument 404 /404.html

ErrorDocument 500 /index.php

ErrorDocument 503 /503.html

ErrorDocument 508 /503.html